/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: Helvetica, sans-serif;
  background-color: #FFDD00;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

header {
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.logo-link {
  position: absolute;
  top: 10px;
  left: 10px; /* or right: 10px; to float on the right */
}

.logo {
  max-width: 50px;
  border-radius: 50%;
  outline: 1px solid #000; /* Black outline around circular logo */
  outline-offset: -1px; /* Ensures the outline stays snug to the circle */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.profile-pic-container {
  margin: 20px 0;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin: 20px 0;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 10px;
}

.project-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 100%;
  background-color: #000;
  color: #FFDD00;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  position: relative;
}

.project-thumbnail span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#project-1, #project-2, #project-3, #project-4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#project-2 { 
  background: url('');
}
